.shortcut-conts {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shortcut-conts ul {
  list-style: none;
}

.shortcut-conts li {
  font-size: 30px;
  margin-top: 100px;
  width: 100%;
  margin-top: 20px;
}

.shortcut-conts li a svg:hover {
  scale: 1.5;
  /* box-shadow: 5px 5px 5px blue; */
}

.icon-fb {
  color: blue;
  background-color: transparent;
  border: 0;
}

.icon-fb:hover {
  filter: drop-shadow(5px 5px 5px blue);
}

.icon-wa {
  color: green;
  background-color: transparent;
  border: 0;
}

.icon-wa:hover {
  filter: drop-shadow(5px 5px 5px green);
}

.icon-insta {
  color: deeppink;
  background-color: transparent;
  border: 0;
}

.icon-insta:hover {
  filter: drop-shadow(5px 5px 5px deeppink);
}

.icon-reddit {
  color: red;
  background-color: transparent;
  border: 0;
}

.icon-reddit:hover {
  filter: drop-shadow(5px 5px 5px red);
}
